{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
    <div class="container h-150 flex-column align-center justify-center gap-300">

        <div class="flex-column align-center justify-center gap-300">
            <h4 class="h4 mb-3 font-weight-normal">Sign up</h4>
            <span class="h6 small">Please fill the details and create account</span>
        </div>
        {{ include('partials/_input_register.html.twig', {input: registrationForm.nickname}) }}
        {{ include('partials/_input_register.html.twig', {input: registrationForm.email}) }}
        {{ include('partials/_input_register.html.twig', {input: registrationForm.plainPassword}) }}
        {{ include('partials/_input_checkbox.html.twig', {input: registrationForm.agreeTerms}) }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">{{ bootstrap_icon("rocket-takeoff") }} Sign up</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

