{% set attr = attr is defined ? attr : [] %}

{{ form_label(input) }}
<div class="input-image {{ form_errors(input) ? 'input-error' : '' }}">
    <button class="btn btn-secondary ms-auto" type="button">{{ bootstrap_icon('plus-circle') }} {{ 'add_an_image' | trans }}</button>
    {{ form_widget(input, {'attr': {'class': 'input upload-image-input', 'type': 'hidden'}|merge(attr) }) }}
    <img src="" alt="" class="input-image-preview hidden">
</div>
<div class="input-error-message">
    {{ form_errors(input) }}
</div>