{% extends 'front/base.html.twig' %}

{% block title %}{{ "title_reset_password" | trans }}{% endblock %}

{% block main %}
    {{ form_start(resetForm, { 'attr' : { 'class': 'flex-column align-center justify-center' } }) }}
    <div class="container-password h-150 flex-column align-center justify-center gap-300 width-300">
        <div class="flex-column align-center justify-center gap-300">
            <h4 class=" h4 mb-3 font-weight-normal">{{ "title_reset_password" | trans }}</h4>
        </div>
        {{ include('partials/_input_register.html.twig', {input: resetForm.plainPassword.first}) }}
        {{ include('partials/_input_register.html.twig', {input: resetForm.plainPassword.second}) }}
        <div class="text-center">
            <button class="btn btn-primary">{{ bootstrap_icon("rocket-takeoff") }}{{ "reset_password_button" | trans }}</button>
        </div>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
