{% extends 'front/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block main %}
    {{ form_start(resetForm) }}
    <div class="container-password h-150 flex-column align-center justify-center gap-300">
        <div class="flex-column align-center justify-center gap-300">
            <h4 class=" h4 mb-3 font-weight-normal">Reset your password</h4>
        </div>
        {{ include('partials/_input_register.html.twig', {input: resetForm.plainPassword.first}) }}
        {{ include('partials/_input_register.html.twig', {input: resetForm.plainPassword.second}) }}
        <div class="text-center">
            <button class="btn btn-primary">{{ bootstrap_icon("rocket-takeoff") }} Reset password</button>
        </div>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
