{% extends 'front/base.html.twig' %}

{% block main %}
    <div class="flex-column gap-600">
        <div class="flex-column gap-200">
            {{ "home.good_evening" | trans }}
            <h4>{{ "home.explore_universe" | trans }}</h4>
            <div class="input-group">
                <input class="input" placeholder="{{ "home.where_you_going" | trans }}" />
                <div class="icon-container">
                    {{ bootstrap_icon("search") }}
                </div>
            </div>

        </div>

        <div class="flex-column gap-200">
            <h4>{{ "home.exclusive_package" | trans }}</h4>

            <div class="flex-row gap-200">
                <div class="badge">All</div>
                <div class="badge badge-primary">Sol</div>
                <div class="badge">Andromeda</div>
                <div class="badge">Mars</div>
            </div>

            <div class="flex-row gap-200 scroll-horizontal">
                {{ component('default-card') }}
            </div>
        </div>

        <div class="flex-column gap-200">
            <h4>{{ "home.explore_categories" | trans }}</h4>

            <div class="flex-row gap-200 scroll-horizontal">
                {% for i in 0..10 %}
                    <div class="category">
                        <img class="icon" src="{{ asset("images/saturn_icon.png") }}" />
                        <span>Rings</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
