{% extends 'back/base.html.twig' %}

{% block title %}User index{% endblock %}

{% block main %}
    <section class="flex-column gap-200 column-700 mx-auto">
        <h3>User index - {{ users|length }}</h3>

        {% for user in users %}
            <div class="card-small">
                <div class="content">
                    <div class="body flex-column gap-100 p-100">
                        <p class="flex-row gap-100 align-center justify-space-between">
                            <span>{{ user.nickname }} #{{ user.id }}</span>
                            {% if user.isVerified %}
                                <span class="notification notification-success">Verified</span>
                            {% else %}
                                <span class="notification notification-send">Unverified</span>
                            {% endif %}
                        </p>
                        <p>{{ user.email }}</p>
                        <p>{{ user.roles ? user.roles|json_encode : '' }}</p>
                        <p>{{ user.reservations.count }} bookings</p>
                        <p>Total of {{ user.reservations|reduce((carry, r) => carry + r.totalPrice)|format_currency('EUR') }}</p>
                        {% if user.isLessor %}
                            <p>{{ user.rentals.count }} Rental(s)</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <a href="{{ path('back_user_show', {'id': user.id}) }}">show</a>
                <a href="{{ path('back_user_edit', {'id': user.id}) }}">edit</a>
            </div>
        {% else %}
            <div>
                <p colspan="7">no records found</p>
            </div>
        {% endfor %}
    </section>

    <a href="{{ path('back_user_new') }}">Create new</a>
{% endblock %}
