{% extends 'front/base.html.twig' %}

{% block title %}{{ 'your_rentals' | trans }}{% endblock %}

{% block main %}
    <section class="flex-column gap-300 mx-auto text-center justify-center align-center column-900">
        <button class="btn btn-text back-button me-auto">{{ bootstrap_icon('arrow-left') }} {{ 'back' | trans }}</button>
        <h4 class="text-center"> {{ 'count_rentals_stylized' | trans({'%count%': rentals.count}) | raw }}</h4>
        <a href="{{ path('front_app_profile_rentals_create') }}" class="text-decoration-none">
            <button class="btn btn-primary width-fit-content">
                {{ bootstrap_icon('plus-circle') }}
                {{ 'add_a_rental' | trans }}
            </button>
        </a>
        <div class="flex-row-on-medium align-center flex-wrap gap-300 w-100 booking-card-flex-child-equals">
            {% for rental in rentals %}
                {{ component('booking-card', {subject: rental, type: 'rental'}) }}
            {% endfor %}
            {% if rentals|length <= 0 %}
                <p>{{ 'no_rental_created' | trans }}</p>
            {% endif %}
        </div>
    </section>
{% endblock %}
