{% extends 'front/base.html.twig' %}

{% block main %}
    <div class="booking-template flex-column gap-300">
        <h4 class="mb-300 text-center">{{ 'count_bookings_stylized' | trans({'%count%': user.reservations.count}) | raw }}</h4>
        <div class="flex-row align-center gap-200">
            <a href="{{ path('app_bookings_on_going') }}" class="text-decoration-none">
                <div class="{% if not passedReservations %}badge badge-secondary{% endif %}">{{ 'on_going' | trans }}</div>
            </a>
            <a href="{{ path('app_bookings_passed') }}" class="text-decoration-none">
                <div class="{% if passedReservations %}badge badge-secondary{% endif %}">{{ 'passed' | trans }}</div>
            </a>
        </div>
        <div class="flex-column gap-400">

            {% for year_month, reservations in reservations %}
                <div class="flex-column gap-200">
                    <div class="date">
                        {{ year_month }}
                    </div>
                    {% for reservation in reservations %}
                        <div class="flex-column gap-200 scroll-horizontal cards">
                            {{ component('booking-card', {subject: reservation, type: 'reservation'}) }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
