{% extends 'front/base.html.twig' %}

{% block main %}
    <div class="booking-template flex-column gap-300">
        <h4 class="mb-300 text-center">{{ 'count_bookings_stylized' | trans({'%count%': user.reservations.count}) | raw }}</h4>
        <div class="flex-row align-center gap-200">
            <div>{{ 'on_going' | trans }}</div>
            <div class="badge badge-secondary">{{ 'passed' | trans }}</div>
        </div>
        <div class="flex-column gap-400">

            {% for year_month, reservations in onGoingReservationsByYearMonth %}
                <div class="flex-column gap-200">
                    <div class="date">
                        {{ year_month }}
                    </div>
                    {% for reservation in reservations %}
                        <div class="flex-column gap-200 scroll-horizontal cards">
                            {{ component('booking-card', {subject: reservation, type: 'reservation'}) }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
