{% extends 'front/base.html.twig' %}

{% block main %}
    <section class="flex-column gap-200 flex-grow h-100 rental-section">
        <div class="p-100">
            <button class="btn btn-text back-button">{{ bootstrap_icon('arrow-left') }} {{ "back" | trans }}</button>
        </div>

        <div class="container bg-procyon color-dark-matter rounded-top-400">
            <div class="flex-column gap-200">
                <div class="flex-row justify-space-between">
                    <div class="flex-column gap-100">
                        <div class="flex-row gap-100">
                            {{ bootstrap_icon("geo-alt") }}
                            <span>{{ rental.celestialObject | trans }}</span>
                        </div>

                        <h4>{{ rental.rentType.value | trans }}</h4>
                    </div>

                    <div class="flex-column gap-100 align-end">
                        <h6 class="color-alnitak">{{ rental.price }}€</h6>

                        <small>{{ "estimated" | trans }}</small>
                    </div>
                </div>

                <div class="flex-row">
                    <div class="flex-grow flex-row gap-200 align-center">
                        <a class="badge{% if selectedTab == 'overview' %} badge-primary{% endif %}" href="{{ path('front_rental_overview', {'id': rental.id}) }}">
                            {{ "overview" | trans }}
                        </a>

                        <a class="badge{% if selectedTab == 'access' %} badge-primary{% endif %}" href="{{ path('front_rental_access', {'id': rental.id}) }}">
                            {{ "access" | trans }}
                        </a>

                        <a class="badge{% if selectedTab == 'reviews' %} badge-primary{% endif %}" href="{{ path('front_rental_reviews', {'id': rental.id}) }}">
                            {{ "reviews" | trans }}
                        </a>
                    </div>

                    <div class="badge">
                        {{ bootstrap_icon("flag") }}
                    </div>
                </div>

                {% block pannel %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
