{% extends 'front/rental/base.html.twig' %}

{% block title %}{{ rental.rentType.value | trans }} in {{ rental.celestialObject | trans }} - Spacebnb{% endblock %}

{% block main %}
    <div class="flex-column gap-100">
        <h5>{{ "report" | trans }}</h5>

        {{ form_start(form) }}
            <div class="flex-column gap-200 mb-300">
                {{ include('partials/_input.html.twig', {input: form.type}) }}
                {{ include('partials/_input.html.twig', {input: form.comment, attr: {'rows': 8}}) }}
            </div>
        {{ form_widget(form) }}
        <button class="btn btn-primary ms-auto">{{ bootstrap_icon('rocket-takeoff') }} {{ 'become_lessor' | trans }}</button>
    </div>
{% endblock %}
