{% set hide_actions = hide_actions is defined ? hide_actions : false %}

<div class="card-small flex-column">
    <div class="content">
        <div>
            <h5>{{ request.lessor.firstname }} {{ request.lessor.lastname }}</h5>
            <p>{{ request.lessor.email }} - {{ request.lessor.phone }}</p>
            <small>{{ request.lessor.lessorNumber }}</small>
        </div>
        <p class="card-text">{{ request.motivation }}</p>
        {% if not hide_actions %}
            <div class="footer">
                <a class="btn btn-outline-accent" href="{{ path('back_lessor_refuse', {'id': request.id}) }}">
                    {{ bootstrap_icon('x-circle') }}
                    Refuse
                </a>

                <a class="btn btn-outline-primary" href="{{ path('back_lessor_validate', {'id': request.id}) }}">
                    {{ bootstrap_icon('check-circle') }}
                    Validate
                </a>
            </div>
        {% endif %}
    </div>
</div>