<div class="booking-card">
    <div class="header">
        <img class="image" src="{{ asset('images/saturn.jpg') }}">
    </div>

    <div class="content">
        <div class="flex-row flex-wrap gap-100 align-center justify-space-between">
            <div class="flex-row gap-100">
                {{ bootstrap_icon("geo-alt") }}
                {% if type.value is same as('rental') %}
                    <p>{{ subject.celestialObject | trans }}</p>
                {% else %}
                    <p>{{ subject.rental.celestialObject }}</p>
                {% endif %}
            </div>
            <div class="badge badge-secondary-small">
                {% if type.value is same as('rental') %}
                    {{ subject.price | number_format(2, ',', '.') }} €
                {% else %}
                    <p>{{ subject.rental.price }} €</p>
                {% endif %}
            </div>
        </div>
        {% if type.value is same as('rental') %}
            <h4 class="mb-50">{{ subject.rentType.value | trans }}</h4>
        {% else %}
            <h4 class="mb-50">{{ subject.rental.rentType.value | trans }}</h4>
        {% endif %}

        {% if type.value is same as('reservation') %}
            <div>
                <p>{{ 'from' | trans }} {{ subject.dateBegin | date("Y-m-d") }} {{ 'to' | trans }} {{ subject.dateEnd | date("Y-m-d") }}</p>
            </div>

            {% if subject.reviewMark %}
                <div class="rating">
                    {{ include('partials/_stars.html.twig', {rate: subject.reviewMark}) }}
                </div>
            {% else %}
                <div>
                    <button class="btn btn-primary">{{ bootstrap_icon("chevron-right") }} {{ "add_review" | trans }}</button>
                </div>
            {% endif %}
        {% endif %}

        {% if type.value is same as('rental') %}
            <p>{{ 'count_bookings' | trans({'%count%': subject.reservations().count}) }}</p>
        {% endif %}


    </div>
</div>