<div class="card-small">
  <div class="header">
    <img class="image" src="{{ asset('images/saturn.jpg') }}">
    <div class="rating">
      4
      {{ bootstrap_icon("star-fill") }}
    </div>
  </div>

  <div class="content">
    <div class="flex-row gap-100">
      {{ bootstrap_icon("geo-alt") }}
      {{ rental.system }}
    </div>

    <h4>{{ rental.celestialObject }}</h4>

    <div class="body">
      {{ rental.description }}
    </div>

    <div class="footer">
      <div class="features">
        <span>Features</span>

        <div class="icons">
          {{ bootstrap_icon("train-front") }}
          {{ bootstrap_icon("radioactive") }}
        </div>
      </div>

      <a class="btn btn-primary" href="/rental/{{ rental.id }}/overview?search={{ search }}">{{ "book" | trans }}・{{ rental.price }}€</a>
    </div>
  </div>
</div>
