{% extends 'front/base.html.twig' %}

{% block main %}
    <div class="flex-column account gap-400">
        <div class="flex-column align-center justify-center gap-200">
            <div class="flex-row align-center justify-center">
                <div>
                    <h4 class="text-center">{{ 'hello' | trans }} <span>{{ user.firstname }}</span></h4>
                </div>
                <a href="{{ path('app_profile_edit') }}" class="text-decoration-none">
                    <button class="edit-account btn btn-text mx-auto">{{ bootstrap_icon('pencil') }}</button>
                </a>
            </div>
            <div>
                {{ user.email }}
            </div>
            <div class="notification notification-send">
                {{ bootstrap_icon("rocket-takeoff") }}{{ 'pending_request_lessor_message' | trans }}
            </div>
        </div>
        <div class="flex-column gap-200">
            <div class="flex-row justify-space-between">
                <div class="font-bold">
                    {{ 'count_bookings_stylized' | trans({'%count%': user.reservations.count}) | raw }}
                </div>
                <a href="{{ path('app_profile_bookings') }}" class="text-decoration-none">
                    <div class="more-informations">{{ 'see_more' | trans }}</div>
                </a>
            </div>
            {% set latest_reservation = user.reservations|sort((a, b) => b.dateEnd <=> a.dateEnd)|first %}
            {% if latest_reservation is not null %}
                {{ component('booking-card', {subject: latest_reservation, type: 'reservation'}) }}
            {% endif %}
        </div>
        <div class="flex-column gap-200">
            <div class="flex-row justify-space-between">
                <div class="font-bold">
                    {{ 'count_rentals_stylized' | trans({'%count%': user.rentals.count}) | raw }}
                </div>
                <a href="{{ path('app_profile_rentals_index') }}" class="text-decoration-none">
                    <div class="more-informations">{{ 'see_more' | trans }}</div>
                </a>
            </div>
            {% set maxReservations = 0 %}
            {% set locationWithMaxReservations = null %}

            {% for rental in user.rentals %}
                {% set numReservations = rental.reservations|length %}
                {% if numReservations > maxReservations %}
                    {% set maxReservations = numReservations %}
                    {% set locationWithMaxReservations = rental %}
                {% endif %}
            {% endfor %}

            {% if locationWithMaxReservations is not null %}
                {{ component('booking-card', {subject: locationWithMaxReservations, type: 'rental'}) }}
            {% endif %}
        </div>

        <hr>

        <div class="flex-column align-center gap-300">
            <div>{{ 'terms_of_sales' | trans }}</div>
            <div>{{ 'data_privacy' | trans }}</div>
            <div class="btn btn-outline-primary">{{ 'logout' | trans }}</div>
        </div>

    </div>
{% endblock %}
